<div class="pt-12 pb-12 border-solid border-2 border-black flex flex-row sm:flex-col max-w-75">
    <div class="solid border-2 border-red-50 w-1/2 sm:w-fit">
        <p>Hello</p>
    </div>
    <div class="solid border-2 border-yellow-400 w-1/2 sm:w-fit p-2.5">
        <p class="leading-relaxed indent-7 pb-3.5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Varius quam quisque id diam vel quam elementum pulvinar. 
            Mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor. 
            Tortor posuere ac ut consequat semper viverra nam.
        </p>
        <p class="leading-relaxed indent-7">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Eget aliquet nibh praesent tristique magna sit amet. 
            Nisi quis eleifend quam adipiscing vitae proin sagittis nisl.
        </p>
    </div>
</div>