<div class="relative bg-fixed bg-no-repeat bg-cover sm:bg-cover md:bg-contain lg:bg-auto xl:bg-cover bg-center h-[45rem] bg-white bg-opacity-25" style="background-image: url(assets/images/bbh-fwb-home.jpeg);">
    <div class="relative bg-white bg-opacity-50 w-full h-full flex justify-center items-center">
        <div class="bg-white bg-opacity-40">
            <h1 class=" text-black-dark font-header text-center text-5xl italic tracking-wide p-8 underline underline-offset-20 decoration-solid decoration-black-dark decoration-4">old homes, reimagined</h1>
            <p class="text-center text-black-dark pb-2 font font-header">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>
