#NAVIGATION_CONTAINER{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.NAVIGATION_LOGO{
    width: 350px;
    img{
        width: 150px;
    }
}
.NAVIGATION_LINK{
  display: flex;
  a{

  }
}