
.NAVIGATION_CONTAINER {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 25px;
}

.NAVIGATION_LINKS{
  display: flex;
  align-items: center;
  
}
.NAV_LINK{
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #010101;
        transform-origin: center;
        transition: transform 0.25s ease-out;
        
    }
    &:hover::after{
        transform: scaleX(1);
        transform-origin: center;
    }
}
a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 65px;
    margin-right: 65px;

}