<!-- Desktop/Tablet Navigation -->
<nav class="flex items-center justify-between flex-wrap bg-white p-6 container mx-auto" *ngIf="!isMobile && !isLandscapeMode">
    <div>
        <img ngSrc="assets/images/logo.jpg" width="150" height="150" alt="Logo" />
    </div>
    <div class="block flex-grow lg:inline lg:items-center lg:w-72">
        <ul class="flex justify-end">
            <li><a class=" px-8 text-black-dark text-2xl tracking-wide font-header link link-underline link-underline-black hover:underline active:underline focus:underline decoration-2" routerLink="/home" routerLinkActive="underline">Home</a></li>
            <li><a class=" px-8 text-black-dark text-2xl tracking-wide font-header hover:underline active:underline focus:underline decoration-2" routerLink="/portfolio" routerLinkActive="underline">Portfolio</a></li>
            <li><a class=" px-8 text-black-dark text-2xl tracking-wide font-header hover:underline active:underline focus:underline decoration-2" routerLink="/services" routerLinkActive="underline">Services</a></li>
            <li><a class=" px-8 text-black-dark text-2xl tracking-wide font-header hover:underline active:underline focus:underline decoration-2" routerLink="/contact" routerLinkActive="underline">Contact</a></li>
        </ul>
    </div>
</nav>
<!-- <h1 class="text-3xl font-bold underline">hello</h1> -->
<!-- Mobile Navigation -->
<nav id="NAVIGATION_CONTAINER_MOB" *ngIf="isMobile || isLandscapeMode" class="bg-black-generic py-4">
    <div class="flex justify-between">
        <div (click)="onClick()" class="btn ml-2 my-4">
            <div class="bg-white h-0.5 m-1 w-6" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"></div>
            <div class="bg-white h-0.5 m-1 w-6" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"></div>
            <div class="bg-white h-0.5 m-1 w-6" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'"></div>
        </div>
        <div class="pr-1.5">
            <img ngSrc="assets/images/logoWhiteAndBlack.png" width="75" height="75" alt="Logo" />
        </div>
    </div>
    <div class="-z-50">
        <ul [@slide]="isOpen ? 'closed' : 'open'" class="text-center flex flex-col space-y-3 -z-50">
            <li><a (click)="onClick()" class="text-white text-xl font-header tracking-wide " routerLink="/home">Home</a></li>
            <li><a (click)="onClick()" class="text-white text-xl font-header tracking-wide " routerLink="/portfolio">Portfolio</a></li>
            <li><a (click)="onClick()" class="text-white text-xl font-header tracking-wide " routerLink="/">Services</a></li>
            <li><a (click)="onClick()" class="text-white text-xl font-header tracking-wide " routerLink="/">Contact</a></li>
        </ul>
    </div>
</nav>