.NAVIGATION_CONTAINER {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.NAVIGATION_LOGO{
    margin-bottom: 20px;
    img{
        width: 150px;
    }
}
.NAVIGATION_LINKS{
  display: flex;
  a{

  }
}