<div class="pt-12 pb-12 flex flex-row sm:flex-col-reverse max-w-75">
    <div class="w-1/2 sm:w-fit p-2.5 flex flex-col items-center justify-center">
        <p class="leading-relaxed pb-3.5 text-xl font-bold">
           XXXX Street Name NW Grand Rapids
        </p>
        <p class="leading-relaxed pb-3.5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Varius quam quisque id diam vel quam elementum pulvinar. 
            Mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor. 
            Tortor posuere ac ut consequat semper viverra nam.
        </p>
        <p class="leading-relaxed indent-7">
            Coming soon XX-XX-XXXX
        </p>
    </div>
    <div class=" w-1/2 sm:w-auto flex justify-center content-center">
        <img class=" scale-100" 
            src="assets/images/HomeComingSoon-600px.png" 
            alt="place holder text" />
      </div>
</div>